<!--
  Generated template for the BlogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="blogs.length < 1">
		<ion-spinner name="crescent" class="midscreen-spinner"></ion-spinner> 
</ion-content>

<ion-content >
	<section class="with-padding" *ngIf="blogs">
		<h2>Artikel</h2>
		<div class="section-body">

			<ion-card *ngFor="let blog of blogs; let i=index " class="article" (click)="blogDetail(blog)">
				<figure [style.background-image]="getBackground(url+blog.picture)">
				</figure>
			  <ion-card-content>
				<ion-card-title>
					{{blog.title}}
				</ion-card-title>
				<p [innerHTML]="blog.preview" ></p>
				<div class="card-cta">

					<ion-icon name="ios-heart" *ngIf="blog.bookmarked != null " (click)="coba()" ></ion-icon>
					<ion-icon name="ios-heart-outline" *ngIf="blog.bookmarked == null "></ion-icon>
					<!--<ion-icon name="share"></ion-icon>
					<ion-icon name="ios-chatbubbles-outline"></ion-icon> -->
				</div>
			  </ion-card-content>
			</ion-card>

		</div>

	</section>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   		<ion-infinite-scroll-content></ion-infinite-scroll-content>
 	</ion-infinite-scroll>

</ion-content>
